
.App{
    width: 1200px;
    height: 100vh;
    margin: auto;

}

.buttonComponent{
    margin-bottom: 50px;
    border: 2px solid white;
}

.buttonComponent button{
    margin-left: 1100px;
    float: left;
}

.productsImgs{
    padding-bottom: 10px;


}

.productsContainer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.btnBuyBuy button{
    
    margin-left: 700px;
    width: 100px;
    height: 25px;
    color: rgb(15, 17, 17);
    background-color: rgb(243, 245, 239);
    border-radius: 0px 27px 17px 32px;
}

.btnBuyBuy button:hover{
    cursor: pointer;
    background-color: rgb(27, 184, 131);
    color: white;
}


.titlePart{
    margin-right: 820px;
    margin-top: -10px;
    padding: -10px;
    margin-left: 20px;
    color: blueviolet;
}

.pricePart{
    margin-right: 820px;
    margin-left: 20px;
}

.descriptionPart{
    display: flex;
    align-items: center;
    margin-left: 20px ;
}